@import url(/css/variables.css);

*{
    box-sizing: border-box;
}
html,
body{
    height:100%;
}

body{
    height:100vh;

    display:flex;
    flex-direction:column;

    margin:0;

    font-family:var(--font-principal);
    color:var(--color-texto);

    overflow:hidden; /* El body nunca scrollea */
}

/* =========================================================
HEADERRRR
   ========================================================= */
header,
footer{
    flex-shrink:0;
}

main{
    flex:1;
    background:var(--color-fondo);

    overflow-y:auto;

    padding:1rem;
}

.navbar {
    background-color: var(--color-secundario-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem 1rem; ;

}

.logo_img{
    height: 80px;
    width: auto;
}

.lista_links{
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* =========================================================
FOOTER
   ========================================================= */
footer{
    background:var(--color-secundario-claro);
    text-align:center;
}

/* =========================================================
BOTONES
   ========================================================= */

button, 
.btn-login, 
.btn-registro, 
.btn-busqueda, 
.btn-enfermero {
    /* Tipografía y Tamaño Unificados */
    font-family: var(--font-principal);      /* Poppins, Montserrat... */
    font-size: var(--font-size-base);        /* Tamaño base de 16px (1rem) */
    font-weight: var(--font-weight-semibold); /* Un peso intermedio para que se lea claro */
    
    /* Estructura y Espaciado */
    padding: 0.75rem 1.5rem;                  /* Espacio interno (arriba/abajo - izquierda/derecha) */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;                             /* Espacio por si en el futuro agregas un icono */
    
    /* Borde Redondeado y Estética Base */
    border-radius: var(--radius-md);         /* Usa tus 12px redondeados del isotipo */
    border: 2px solid var(--color-secundario);           /* Borde transparente por defecto para evitar saltos visuales */
    cursor: pointer;                         /* Cambia el cursor a la mano al pasar por encima */
    
    /* Animación Suave para los Cambios de Color (Hover) */
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

/* Evitar que al hacer clic se vea un borde feo de navegador, manteniendo la accesibilidad */
button:focus-visible {
    outline: 2px solid var(--color-secundario);
    outline-offset: 2px;
}
.footer-contacto, .footer-links{
    display:flex;
    flex-direction:column;
}

.footer-contacto p,.footer-links p{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:.8rem;
    margin:0.5rem;
}

.footer-contacto svg{
    width:20px;
    height:20px;

    flex-shrink:0;
}

h3{
    margin-bottom:1rem;
}